<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>E1C33F8C-D02F-496F-9DF7-C0A2236D809D</string>
	<key>deviceType</key>
	<string>com.apple.dt.Xcode.IBSimDeviceType.iPad-2x</string>
	<key>name</key>
	<string>IBSimDeviceTypeiPad2x</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.iOS-11-0</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
