<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UDID</key>
	<string>3251B4A3-4C1C-47B8-9B5B-9711B970B2FB</string>
	<key>deviceType</key>
	<string>com.apple.dt.Xcode.IBSimDeviceType.AppleTV-1080p</string>
	<key>name</key>
	<string>IBAppleTVSimDeviceType1080p</string>
	<key>runtime</key>
	<string>com.apple.CoreSimulator.SimRuntime.tvOS-11-1</string>
	<key>state</key>
	<integer>1</integer>
</dict>
</plist>
